@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
}

.container {
  color: rgb(255, 255, 255);
}

.title{
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2.5rem;
  margin: 50px;
  text-align: center;
}

.background{
  background-image: repeating-conic-gradient(
    #000 0% 25%,
    #eee 25% 50%
  );
  background-size: 8px 8px;
  background-color: rgba(255,255,255,0.9);
  background-blend-mode:soft-light;
}

.heading-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #1C1C1C;
}

.heading-container{
  width: 60%;
  margin: auto;
  opacity: 100%;
}

.heading-name{
  font-size: 3rem;
  text-align: left;
}

.heading-location{
  margin-bottom: 50px;
}

/* Buttons */

.heading-contact a{
  font-size: 1.5rem;
  padding: 1rem 3rem;
  color: white;
  text-transform: uppercase;
  transition: 650ms;
}

.form-fields i{
  font-size: 1.5rem;
  padding: 0.6rem 2rem;
  color: white;
  text-transform: uppercase;
  transition: 650ms;
}

.btn {
  text-decoration: none;
  border: 1px solid rgb(0, 0, 0);
  position: relative;
  overflow: hidden;
  background-color: #1C1C1C;
}

.btn:hover {
  box-shadow: 1px 1px 25px 10px rgba(0, 0, 0, 0.4);
  transition: 650ms;
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  transition: all 650ms;
  opacity: 0;
}

.btn:hover:before {
  left: 0%;
  opacity: 50%;
}


.highlight{
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;
  transition: background-size 500ms;
}

.highlight:hover{
  background-size: 100% 100%;
  background-position-x: left;
}

/* about */

.about-section-wrapper{
  width: 70%;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 25%;
  margin: auto;
}

.about-section-content{
  margin-bottom: 60px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
}


.about-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 50px 0 100px 0;
}

.about-info p{
  margin-bottom: 30px;
}

.about-image-container{
  width: 50%;
  text-align: center;
  margin: auto;
}

.about-image {
  max-width: 500px;
  height: auto;
  border-radius: 50%;
  box-shadow: #2c2c2c 9px 9px 20px 10px;
}


/* SKILLS */

.technologies-wrapper {
  color: rgb(37, 37, 37);
  overflow: hidden;
  margin: auto;
  transition: ease-in 1s;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 25%;
}

.technologies-content {
  margin: auto auto;
  width: max-content;
  flex-wrap: nowrap;
  padding: 60px 0;
  text-align: center;
  
}

.marque-wrapper:hover .marque-content{
  animation-play-state: paused;
}

.marque-content {
  animation: 25s marquee linear infinite;
  height: 500px;
}

.skill-card {
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  background-color: rgb(37, 37, 37);
  white-space: wrap;
  display: inline-block;
  margin-left: 40px;
  align-items: start;
  width: 400px;
  height: 400px;
  transform: scale(1);
  transition: 0.5s;
  
}

.skill-card:hover{
  transform: scale(1.05) ;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;}

.skill-card h3 {
  margin: 20px;
  font-size: 1.5rem;
}

.skill-card p{
  width: 80%;
  margin: auto;
  text-align: center;
}

.skill-card img{
  height: 150px;
  margin-left: auto;
  padding-top: 20px;
}

/* CERTIFICATES */

.certificates-wrapper{
  width: 70%;
  min-height: 60vh;
  margin: auto;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 25%;
}

.certificates-content{
  margin: auto;
  padding: 5px;
  width: 80%;
  font-size: 1.5rem;
}

.certificate {
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
}

.certificate-issuer {
  text-align: left;
  width: 25%;
}

.certificate-title{
  width: 50%;
}

.certificate-view{
  justify-content: center;
  padding-left: 8%;
}

.certificate-view a {
  text-decoration: none;
  color: white;
}



/* projects */

.projects-container{
  border-bottom: 2px solid white;
  min-height: 80vh;
  padding-bottom: 200px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 25%;
}

.projects-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.projects-content a{
  text-decoration: none;
  color: white;
}

.project {
  width: 400px;
  height: 400px;
  border-radius: 20px;
  cursor: pointer;
}

.project-info:hover{
  backdrop-filter: blur(20px) grayscale(1);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  scale: 1.005;
}

.project:hover .project-info{
  opacity: 1;
  transition: 0.5s;
}

.project-info {
  color: #2c2c2c;
  transition: 0.5s;
  opacity: 0;
  text-align: center;
  height: 400px;
  border-radius: 20px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-info h2{
  font-weight: 1.5rem;
}

.project-info span{
  font-size: 1.2rem;
  font-weight: bold;
}




/* Contact */

.contact-section-wrapper{
  margin: auto;
}

.box-wrapper{
  display: flex;
  flex-direction: row;
  width: 40%;
  margin: 75px auto;
  border-radius: 30px ;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 25%;
}

.contact-title{
  margin: 50px;
  font-size: 2.5rem;
  text-align: center;
}

.info-wrap {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 40px;
  border-radius:  30px 0 0 30px;
  color: white;
}

.info-details{
  margin-top: auto;
}

.info-details li{
  list-style: none;
  font-size: 18px;
  color: white;
  line-height: 28px;
}

.info-details li span{
  font-weight: 600;
}

.info-details li a {
  color: white;
  text-decoration: none;
}

.info-details li a:hover {
  color: rgb(95, 95, 95);
}

.info-details p{
  padding-bottom: 25px;
  font-size: 1.5rem;
  font-weight: 600;
}
.social-icons{
  margin-bottom: 100px;
}

.social-icons li{
  float: left;
  list-style: none;
  font-size: 20px;
  color: white;
  border-radius: 50%;
  padding-top: 25px;
}

.social-icons li a {
  text-decoration: none;
}

.social-icons li i{
  padding: 12px;
  border-radius: 50%;
}

.social-icons li i:hover {
  background-color: rgb(95, 95, 95);
  transition: .5s;
}

.form-wrap {
  width: 50%;
}

.form-title {
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.25rem;
}

.form-group{
  display: flex;
  flex-direction: column;
}

.form-group label{
  font-weight: 600;
  padding-bottom: 5px;
  padding-top: 10px;
}



.form-group input, textarea{
  padding: 10px;
  border-radius: 8px;
  border: 2px solid rgb(136, 136, 136);
  transition: 0.3s;
  outline: none;
  background: transparent;
}

.form-group input:focus, textarea:focus{
  border: 2px solid rgb(255, 255, 255);
  transition: 0.3s;
  color: white;
}

.form-group input:valid{
  color: white;
}

textarea{
  height: 100px;
}

.form-fields button{
  background: transparent;
  outline: none;
  border: none;
  margin-top: 30px;
}

.form-fields a{
  font-size: 1.2rem;
  padding: 1rem 2rem;
  color: white;
  text-transform: uppercase;
  transition: 650ms;
}


/* ANIMATIONS */

@keyframes marquee {
  to {
    transform: translateX(-50%);
  }
}

@keyframes appear {
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity:1;
    scale: 1;
  }
}



/* RESPONSIVE */

@media only screen and (max-width: 767px){

  .container{
    width: 100%;
  }

  .title{
    font-size: 1.2rem;
    margin: 25px 0;
  }

  
  .heading-name{
    font-size: 2rem;
  }

  .heading-location{
    font-size: 0.8rem;
  }

  .heading-contact a{
    font-size: 1rem;
    padding: 0.5rem 2rem;
    color: white;
    text-transform: uppercase;
    transition: 650ms;
  }

  .about-section-content{
    flex-direction: column;
  }

  .about-info{
    width: 100%;
    text-align: center;
  }

  .about-image-container{
    width: 100%;
    text-align: center;
    margin: auto;
  }
  
  .about-image {
    max-width: 400px;
    height: auto;
    border-radius: 50%;
    box-shadow: #2c2c2c 9px 9px 20px 10px;
  }

  .skill-card{
    font-size: 0.7rem;
    width: 200px;
  }

  .certificates-content{
    width: 100%;
  }

  .certificate {
    font-size: 1rem;
  }

  .projects-container{
    width: 100%;
  }

  .project{
    width: 250px;
    height: 250px;
  }

  .project-info{
    width: 250px;
    height: 250px;
    font-size: 11px;
  }

  .project-info span{
    font-size: 1rem;
  }

  .box-wrapper{
    flex-direction: column;
    width: 100%;
  }

  .social-icons li{
    float: none;
  }

  .info-wrap,
  .form-wrap{
    width: 80%;
    height: inherit;
    float: none;
    margin: auto;
  }
  .info-wrap{
    border-radius: 30px 30px 0 0;
    text-align: center;
  }
  .form-wrap{
    border-radius: 30px;
  }
  .form-group{
    width: 100%;
    float: none;
    margin: 25px 0;
  }
  .form-fields .form-group:last-child{
    width: 100%;
  }
}
